@model BiscuitServiceModel

<div class="col">
	<div class="card">
		<img src="@Model.ImageUrl" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">@Model.Title</h5>
		</div>
		<div class="mb-5 d-flex justify-content-center flex-column align-items-center">
			<a asp-controller="Biscuit" asp-action="Details" asp-route-id="@Model.Id" style="width:70%;" class="btn btn-primary mb-2">Детайли</a>

			@if (User.IsInRole("Administrator"))
			{
				<div class="d-flex">
					<a class="me-3 btn btn-warning" asp-area="Admin" asp-controller="Biscuit" asp-action="Edit" asp-route-id="@Model.Id">Промени</a>
					<a class="btn btn-danger" asp-area="Admin" asp-controller="Biscuit" asp-action="Delete" asp-route-id="@Model.Id">Изтрий</a>
				</div>
			}
		</div>

	</div>
</div>


<style>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		background-color: #f9f6f2;
	}

	.card-img-top {
		border-radius: 50px;
		padding: 20px;
	}

	.card {
		border-radius: 30px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	}

	.card-body {
		padding: 25px;
		margin-top: -15px;
	}

	.btn-primary {
		border-radius: 50px;
		width: 120px;
	}

		.btn-primary:hover {
			background-color: black;
			border: none;
		}

	.btn-delete {
		background-color: red;
		border-color: red;
	}

	h3, h5 {
		text-align: center;
		color: rgb(0, 91, 228);
	}
</style>