@model IEnumerable<AllCakeViewModel>
@{
	ViewBag.Title = "All Cakes";
}

<div class="container">
	<h1 class="text-center">@ViewBag.Title</h1>
	<div class="row">
		@foreach (var cake in Model)
		{
			<div class="col6 col-md-3 col-lg-4">
				<div class="card">
					<img class="card-img-top" src="@cake.ImageUrl">
					<div class="card-body">
						<h5 class="card-title">@cake.Title</h5>
						<p class="text-center">@cake.Price лв.</p>
						<a class="btn btn-primary"
						   asp-controller="Cake"
						   asp-action="CakeDetails"
						   asp-route-id="@cake.Id"
						>Details</a>

						<a class="btn btn-primary"
						   asp-controller="Cake"
						   asp-action="DeleteCake"
						   asp-route-id="@cake.Id">Delete</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>

