@model CakeDetailsModel
@{
	ViewBag.Title = "Детайли за тортата";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Url.Content(Model.ImageUrl)" alt="Cake Image">
        </div>
        <div class="card col-8 border-0" style="color:black; padding:20px"> 
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Цена: <b>@Model.Price лв.</b></p>
            <p>Категория: <b>@Model.Category</b></p>
            <p>Етажи: <b>@Model.Layers</b></p>
            <p>Форма: <b>@Model.Form</b></p>
            <p>Порции: <b>@Model.Portions</b></p>
            <div class="form-inline">
                @if (this.User.IsInRole("Administrator"))
                {
                    <a class="btn btn-warning" asp-area="Admin" asp-controller="Cake" asp-action="Edit"
                    asp-route-id="@Model.Id">Промени</a>
                    <a class="ml-2 btn btn-danger" asp-area="Admin" asp-controller="Cake" asp-action="Delete"
                    asp-route-id="@Model.Id">Изтрий</a>
                }
                else
                {
                    <a class="btn btn-warning" asp-area="" asp-controller="Cart" asp-action="Add"
                       asp-route-id="@Model.Id">Добави в количката</a>
                
                }

            </div>
        </div>
    </div>
</div>