@model AllBiscuitsQueryModel
@{
	ViewBag.Title = "Всички бисквити";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
	<div class="row">
		<div class="form-group col-md-3 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="Category">Категория</label>
				<select asp-for="Category" class="form-control">
					<option value="">Всички</option>
					@foreach (var category in Model.Categories)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<label asp-for="SearchTerm">Търси по текст</label>
			<input asp-for="SearchTerm" class="form-control" placeholder="...">
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Sorting">Сортиране</label>
				<select asp-for="Sorting" class="form-control">
					<option disabled selected value=""> -- Изберете сортиране -- </option>
					<option value="0">Най-нови</option>
					<option value="1">Най-стари</option>
					<option value="2">Най-евтини</option>
					<option value="3">Най-скъпи</option>
				</select>
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group mt-4 p-2">
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>


@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalBiscuitCount /
		Model.BiscuitsPerPage);
}

<div class="row mb-5">
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Biscuit"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-category="@Model.Category"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-sorting="@((int)Model.Sorting)"><<</a>
	</div>

	@{
		var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Biscuits.Any();
	}

	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Biscuit"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-category="@Model.Category"
		   asp-route-searchTerm="@Model.SearchTerm"
		   asp-route-sorting="@((int)Model.Sorting)">>></a>
	</div>
</div>

@if (!Model.Biscuits.Any())
{
	<h2 class="text-center">No cakes found by the given criteria!</h2>
}

<div class="container py-5">
	<div class="row row-cols-1 row-cols-md-3 g-4 py-5" data-masonry='{"percentPosition": true }'>
		@foreach (var biscuit in Model.Biscuits)
		{
			<partial name="_BiscuitPartial" model="@biscuit" />
		}
	</div>
</div>

