@model BiscuitDetailsModel
@{
    ViewBag.Title = "Детайли за бисквитите";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="color:black;">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Цена: <b>@Model.Price</b> лв.</p>
            <p>Брой: <b>@Model.Quantity</b></p>
            <p>Категория: <b>@Model.Category</b></p>
            <div class="form-inline">
                @if (this.User.IsInRole("Administrator"))
                {
                    <a class="btn btn-warning" asp-area="Admin" asp-controller="Biscuit" asp-action="Edit"
                       asp-route-id="@Model.Id">Промени</a>
                    <a class="ml-2 btn btn-danger" asp-area="Admin" asp-controller="Biscuit" asp-action="Delete"
                       asp-route-id="@Model.Id">Изтрий</a>
                }
                else
                {
                    <a class="btn btn-warning" asp-area="" asp-controller="Cart" asp-action="Add"
                       asp-route-id="@Model.ProductId">Добави в количката</a>

                }
            </div>
        </div>
    </div>
</div>




