@model AllQueryCartModel
@{
    ViewBag.Title = "All cart items";
}

<div class="container">
    <h2>Cart</h2>
    <ul class="list-group">
        @foreach (var item in Model.CartItems)
        {
            <li class="list-group-item">
                <div class="cart-item">
                    <img src="@(item.IsRefToProduct ? @item.ImageUrl : "~/images/NoProduct.bmp")" alt="@(item.IsRefToProduct ? @item.ProductTitle : "Custom item")">
                    <div>
                        <h5>@(item.IsRefToProduct ? @item.ProductTitle : "Custom item")</h5>
                        <p>Quantity: @item.Quantity</p>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="mt-4">
        Total Items: @Model.ItemsCount
    </div>
    <button class="btn btn-primary mt-3">Order Now</button>
</div>


<style>
    .cart-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding: 10px;
    }

        .cart-item img {
            max-width: 100px;
            margin-right: 20px;
        }
</style>