@model AllQueryCartModel
@{
    ViewBag.Title = "Всички продукти в количката";
    int id = Model.CartId;
}

<div class="container">
    <h2>Количка</h2>
    <div style="right:50px;">
        <a class="btn btn-primary m-2" asp-area="" asp-controller="Cart" asp-action="AddCustom">Добави друго</a>
    </div>
    <ul class="list-group">
        @foreach (var item in Model.CartItems)
        {
            <li class="list-group-item">
                <div class="cart-item">
                    @if (item.IsRefToProduct)
                    {
                        <img src="@item.ImageUrl" alt="@item.ProductTitle">
                    }
                    else
                    {
                        <img src="~/images/custom.jpg" alt="Custom item">
                    }
                    <div>
                        <h5>@(item.IsRefToProduct ? @item.ProductTitle : "Собствена поръчка")</h5>
                        <p>Бройка: @item.Quantity</p>
                        <a class="btn btn-primary" asp-route-id="@item.Id" asp-area="" asp-controller="Cart" asp-action="Details">Детайли</a>
                        <a class="btn btn-primary  btn-warning" asp-route-id="@item.Id" asp-area="" asp-controller="Cart" asp-action="Edit">Промени</a>
                        <a class="btn btn-primary btn-danger" asp-route-id="@item.Id" asp-area="" asp-controller="Cart" asp-action="DeleteFromCart">Изтрий</a>
                    </div>
                </div>
                
            </li>
        }
    </ul>
    <div class="mt-4">
        Обща бройка: @Model.ItemsCount
    </div>
    <a asp-route-id="@Model.CartId" asp-controller="Order" asp-action="Create" class="btn btn-primary btn-danger">Поръчай</a>
</div>


<style>
    .cart-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding: 10px;
    }

        .cart-item img {
            max-width: 100px;
            margin-right: 20px;
        }
</style>