@model CartItemDetailsModel
@{
    ViewBag.Title = "Детайли за поръчката";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="color:black;">
    <div class="row">
        <div class="col-4">
            @if (Model.IsRefToProduct())
            {
                <img class="card-img-top" style="width: 20rem;"
                src="@Url.Content(Model.ImageUrl)" alt="House Image">
            }

            else
            {
                <img class="card-img-top" style="width: 20rem;"
                     src="~/images/custom.jpg" alt="House Image">
            }

        </div>
        <div class="card col-8 border-0 p-2">
            <p style="font-size:25px;"><u>@(Model.IsRefToProduct()?Model.ProductTitle:"Собствен продукт")</u></p>
            <p>Допълнителна информация: <b>@Model.Text</b></p>
            <p>Телефонен номер: <b>@Model.PhoneNumber</b></p>
            <p>Брой: <b>@Model.Quantity</b></p>
            <div class="form-inline">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-warning" asp-area="" asp-controller="Cart" asp-action="Edit"
                       asp-route-id="@Model.Id">Промени</a>
                    <a class="ml-2 btn btn-danger" asp-area="" asp-controller="Cart" asp-action="DeleteFromCart"
                       asp-route-id="@Model.Id">Изтрий</a>
                }
            </div>
        </div>
    </div>
</div>




