@model ProductsIndexServiceModel

@{
	ViewBag.Title = "Home Page";
	var cakes = Model.Cakes.ToList();
	var biscuits = Model.Biscuits.ToList();
}
<h1 class="text-center">
	<p class="image-text display-4">Добре дошли в <strong>Sugar Decoration</strong>! <span>Това е административна част!</span></p>
</h1>

<hr style="color:black;" />

<div class="container">
	<div class="cont">
		<div class="item p-5 bgc-30">
			<p class="image-text" style=" margin-top:10%;">Ние предлагаме едни от най-добрите торти в града!</p>
			<div class="more">
				<a class="btn btn-primary" asp-controller="Cake" asp-action="All">Още торти</a>
			</div>
		</div>
		<div class="item">
			@if (!cakes.Any())
			{
				<div class="mt-4 p-5 bg-light">
					<p class="lead">
						В момента няма торти в системата.
					</p>
				</div>
			}
			else
			{
				<div id="cakeCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						@for (int i = 0; i < cakes.Count(); i++)
						{
							<button type="button" data-bs-target="#cakeCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"
									aria-label="Slide @i"></button>
						}
					</div>
					<div class="carousel-inner">
						@foreach (var cake in cakes)
						{
							<div class="carousel-item @(cake == cakes.First() ? "active" : "")">
								<img class="d-block w-100" style="height: 400px; object-fit: contain;" src="@cake.ImageUrl" alt="@cake.Title">
								<div class="carousel-caption d-none d-md-block">
									<h5>
										<a class="btn btn-primary" asp-controller="Cake" asp-action="Details" asp-route-id="@cake.Id">@cake.Title</a>
									</h5>
								</div>
							</div>
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#cakeCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#cakeCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			}
		</div>
		<div class="item">
			@if (!biscuits.Any())
			{
				<div class="mt-4 p-5 bg-light">
					<p class="lead">
						В момента няма бисквити в системата.
					</p>
				</div>
			}
			else
			{
				<div id="biscuitCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						@for (int i = 0; i < biscuits.Count(); i++)
						{
							<button type="button" data-bs-target="#biscuitCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"
									aria-label="Slide @i"></button>
						}
					</div>
					<div class="carousel-inner">
						@foreach (var biscuit in biscuits)
						{
							<div class="carousel-item @(biscuit == biscuits.First() ? "active" : "")">
								<img class="d-block w-100" style="height: 400px; object-fit: contain;" src="@biscuit.ImageUrl" alt="@biscuit.Title">
								<div class="carousel-caption d-none d-md-block">
									<h5>
										<a class="btn btn-primary" asp-controller="Biscuit" asp-action="Details" asp-route-id="@biscuit.Id">@biscuit.Title</a>
									</h5>
								</div>
							</div>
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#biscuitCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#biscuitCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			}
		</div>
		<div class="item p-5 bgc-30">
			<p style="margin-top:10%;" class="image-text display-4">Ние също така предлагаме голямо разнообразие от различни бисквити!</p>
			<div class="more">
				<a class="btn btn-primary" asp-controller="Biscuit" asp-action="All">Още бисквити</a>
			</div>
		</div>
	</div>

	<hr style="color:black;" />

	<div>
		<h1 class="section-header">Ние ви подсигуряваме следните неща:</h1>
		<ul class="list">
			<li class="list-item">
				</i>
				<p>Качество</p>
				<div class="icon">
					<i class="fa-solid fa-star"></i>
				</div>
			</li>
			<li class="list-item">
				<p>Голямо разнообразие</p>
				<div class="icon">
					<i class="fa-solid fa-layer-group"></i>
				</div>
			</li>
			<li class="list-item">
				<p>Чудесен вкус</p>
				<div class="icon">
					<i class="fa-solid fa-face-grin"></i>
				</div>
			</li>
		</ul>
	</div>
</div>

<style>

	.cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, minmax(400px, auto));
	}

	.item {
		margin: 0;
		border-color: 2px solid black;
		height: 400px;
	}

	.image-text {
		font-size: 34px;
		font-weight: 500;
		line-height: 1.5;
		text-align: center;
	}

	.carousel-item img {
		max-width: 100%;
		height: auto;
	}

	.section-header {
		margin: 40px auto;
		text-align: center;
	}

	.list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.list-item {
		border: 2px solid black;
		box-shadow: 10px 5px 5px black;
		height: 200px;
		width: 200px;
		text-align: center;
		font-size: 25px;
		font-weight: 600;
		line-height: 1.2;
		padding: 5px;
	}

	.icon {
		color: rgb(250, 163, 0);
		font-size: 60px;
		margin: 25px auto;
	}

	.more {
		display: flex;
		align-items: center;
		justify-content: center;
	}

</style>
